# Основные пакеты для анализа данных
numpy==1.26.4
polars==1.30.0

# Визуализация
matplotlib==3.10.3
plotly==6.1.2

# Вероятностное программирование
pymc==5.23.0
preliz==0.19.0
arviz==0.21.0

# Инструменты разработки
ipython==9.3.0
watermark==2.5.0